body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background: white;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
}

.weather-info {
  margin-top: 20px;
  color: #333;
}

input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

input::placeholder {
  color: #fff;
  opacity: 1;
  font-style: italic;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Styl dla przycisku powrotu */
.back-btn {
  background-color: #6c757d;
  margin-bottom: 20px;
}

/* Kontener na listę prognoz */
.forecast-list {
  display: flex;
  flex-direction: column;
  /* Lista pionowa */
  gap: 15px;
  margin-top: 20px;
  text-align: left;
}

/* Pojedynczy pasek z prognozą */
.forecast-item {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Rozsuwa elementy na boki */
}

.forecast-item .date {
  font-weight: bold;
  font-size: 0.9em;
  width: 120px;
  /* Stała szerokość daty */
}